In [19]:
import pandas as pd
import numpy as np
import sklearn
import matplotlib as plt
import jellyfish

ImportError: No module named 'jellyfish'

In [3]:
data=pd.read_csv('C:/Users/jpisel/Downloads/output/NationalNames.csv')

In [4]:
dataf=pd.DataFrame(data)

In [5]:
dataf

              Id       Name  Year Gender  Count
0              1       Mary  1880      F   7065
1              2       Anna  1880      F   2604
2              3       Emma  1880      F   2003
3              4  Elizabeth  1880      F   1939
4              5     Minnie  1880      F   1746
5              6   Margaret  1880      F   1578
6              7        Ida  1880      F   1472
7              8      Alice  1880      F   1414
8              9     Bertha  1880      F   1320
9             10      Sarah  1880      F   1288
10            11      Annie  1880      F   1258
11            12      Clara  1880      F   1226
12            13       Ella  1880      F   1156
13            14   Florence  1880      F   1063
14            15       Cora  1880      F   1045
15            16     Martha  1880      F   1040
16            17      Laura  1880      F   1012
17            18     Nellie  1880      F    995
18            19      Grace  1880      F    982
19            20     Carrie  1880      F    949
20            21      Maude  1880      F    858
21            22      Mabel  1880      F    808
22            23     Bessie  1880      F    796
23            24     Jennie  1880      F    793
24            25   Gertrude  1880      F    787
25            26      Julia  1880      F    783
26            27     Hattie  1880      F    769
27            28      Edith  1880      F    768
28            29     Mattie  1880      F    704
29            30       Rose  1880      F    700
...          ...        ...   ...    ...    ...
1825403  1825404    Zedrick  2014      M      5
1825404  1825405       Zeid  2014      M      5
1825405  1825406     Zeidan  2014      M      5
1825406  1825407   Zekeriah  2014      M      5
1825407  1825408      Zenas  2014      M      5
1825408  1825409     Zephen  2014      M      5
1825409  1825410     Zerick  2014      M      5
1825410  1825411    Zhaiden  2014      M      5
1825411  1825412     Zhalen  2014      M      5
1825412  1825413    Zhayden  2014      M      5
1825413  1825414       Ziar  2014      M      5
1825414  1825415     Zichen  2014      M      5
1825415  1825416      Ziden  2014      M      5
1825416  1825417     Zierre  2014      M      5
1825417  1825418      Ziion  2014      M      5
1825418  1825419      Zijun  2014      M      5
1825419  1825420      Zilas  2014      M      5
1825420  1825421      Zirui  2014      M      5
1825421  1825422      Zivon  2014      M      5
1825422  1825423      Ziyah  2014      M      5
1825423  1825424     Ziyang  2014      M      5
1825424  1825425    Zmarion  2014      M      5
1825425  1825426         Zo  2014      M      5
1825426  1825427      Zyeir  2014      M      5
1825427  1825428       Zyel  2014      M      5
1825428  1825429     Zykeem  2014      M      5
1825429  1825430     Zymeer  2014      M      5
1825430  1825431    Zymiere  2014      M      5
1825431  1825432      Zyran  2014      M      5
1825432  1825433      Zyrin  2014      M      5

[1825433 rows x 5 columns]

In [9]:
sel=dataf[(dataf["Year"]==1880) & (dataf["Gender"]=="F")]

In [10]:
sel.plot(x="Year")

C:\Users\jpisel\AppData\Local\Continuum\Anaconda3\lib\site-packages\matplotlib\axes\_base.py:2562: UserWarning: Attempting to set identical left==right results
in singular transformations; automatically expanding.
left=1880.0, right=1880.0
  'left=%s, right=%s') % (left, right))

In [11]:
%matplotlib inline

In [20]:
for i in range(0,10):
    print(sel["Name"][i])

NameError: name 'string' is not defined

In [15]:
sel["Name"][1]

'Anna'